<div class="flex justify-center bg-login-background h-screen text-white pt-[160px]">
  <div class="flex flex-col items-center rounded-[3px] border border-login-border h-fit bg-login-menu p-[40px] pt-[24px]">
    <p class="text-xl text-login-border opacity-75">Welcome to</p>
    <%= image_tag('logo.png') %>

    <%= form_with(html: { class: 'flex flex-col w-[300px] mt-[24px] gap-[8px]' }) do |f| %>
      <%= f.email_field(:email, placeholder: 'Email', class: 'text-black rounded-[3px] text-[12px]') %>
      <%= f.password_field(:password, placeholder: 'Password', class: 'text-black rounded-[3px] text-[12px]') %>
      <%= f.submit('Log in', class: 'bg-orange rounded-[3px] py-[8px] text-white font-bold cursor-pointer hover:opacity-80 active:opacity-100') %>
    <% end %>
    <div class="flex flex-col text-center mt-[8px] text-[12px]">
      <span>Don&apos;t have account?&nbsp;<%= link_to('Registrate!', registration_path, class: 'text-orange') %></span>
      <%= link_to('Forgot password?', forgot_password_path, class: 'text-orange') %>
    </div>
  </div>
</div>
