<!DOCTYPE html>
<html>
  <head>
    <title>RTemp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="min-h-screen flex flex-col">
    <%= render 'shared/navbar' %>
    <main class="grow flex">
      <%= render 'shared/sidebar' %>
      <div class="px-[16px] pt-[16px] grow overflow-hidden overflow-x-hidden overflow-y-visible max-h-[calc(100vh-64px)]">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
